.main-list{
    list-style: decimal;
    color: #DFF6FF;
    font-size: 1.1em;
}

.main-list .list:nth-child(2){
    margin: 1.5em 0;
}

.main-list.-center{
    display: flex;
    justify-content: center;
    align-items: center;
}