.main-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-section.-column{
    flex-direction: column;
    gap: 1.5em;
}

.main-section.-column .title{
    color: #DFF6FF;
    font-size: 1.5em;
    font-weight: 600;
    border-top: 0.4px solid #fff;
    padding-top: 1.8em;
}

.main-section .image{
    width: 390px;
    height: 430px;
}