.main-nav{
    display: flex;
    gap: 1.875em;
}

.main-nav .link{
    text-decoration: none;
    color: #DFF6FF;
    font-size: 1.3em;
    padding-bottom: 0.187em;
    position: relative;
    overflow: hidden;
}

.main-nav .link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: translateX(-101%);
    transition: all .3s ease;
}

.main-nav .link:hover::before{
    transform: translateX(0);
}